.projectbounty__cont {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 980px;
    padding: 70px 0px;
}

.projectbounty__head {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 40px;
    color: rgb(0, 255, 174);
}

.projectbounty__create {
    background-color: rgb(55, 55, 83);
    padding: 30px 50px;
    border-radius: 14px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectbounty__createhead {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 23px;
    color: rgb(0, 255, 174);
}

.projectbounty__createbtn {
    margin-top: 30px;
    font-size: 16px;
    width: 200px;
    height: 40px;
    background-color: rgb(0, 255, 174);
    border-radius: 81px;
    border: 3px solid rgb(0, 255, 174);
    cursor: pointer;
    font-family: Ubuntu;
    font-weight: 600;
}

.projectbounty__createbtn:hover {
    background-color: transparent;
    color: rgb(0, 255, 174);
}

.projectbounty__createdbountiescont {
    background-color: rgb(55, 55, 83);
    padding: 30px 50px;
    border-radius: 14px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projbounty__cbhead {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 23px;
    color: rgb(0, 255, 174);
}

.projectbounty__createform {
    margin-top: 30px;
    background-color: rgb(32, 32, 42);
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pbform__desclabel {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.4);
}

.pbform__descinp {
    width: 400px;
    margin-top: 7px;
    height: 30px;
    border-radius: 8px;
    border: 3px solid rgb(0, 255, 174);
    background: transparent;
    outline: none;
    color: rgb(0, 255, 174);
    font-size: 20px;
    font-family: "Open Sans";
}

.pbform__amountlabel {
    margin-top: 20px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.4);
}

.pbform__amountinp {
    width: 400px;
    margin-top: 7px;
    height: 30px;
    border-radius: 8px;
    border: 3px solid rgb(0, 255, 174);
    background: transparent;
    outline: none;
    color: rgb(0, 255, 174);
    font-size: 20px;
    font-family: "Open Sans";
    display: flex;
}

.pbform__daolabel {
    margin-top: 20px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.4);
}

.pbform__daoinp {
    width: 410px;
    margin-top: 7px;
    height: 40px;
    border-radius: 8px;
    border: 3px solid rgb(0, 255, 174);
    background: transparent;
    outline: none;
    color: rgb(0, 255, 174);
    font-size: 20px;
    font-family: "Open Sans";
    display: flex;
}

.pbform__btn {
    margin-top: 40px;
    width: 410px;
    height: 40px;
    border: 3px solid rgb(0, 255, 174);
    font-size: 20px;
    font-family: Ubuntu;
    border-radius: 8px;
    background-color: rgb(0, 255, 174);
    cursor: pointer;
}

.pbform__btn:hover {
    background-color: transparent;
    color: rgb(0, 255, 174);
}

.bounties__cont {
    margin-top: 20px;
}

.bounties__bounty {
    margin-top: 10px;
    background-color: rgb(32, 32, 42);
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bounties__bountyleft {
    display: flex;
    flex-direction: column;
}

.bounties__bountyhead {
    font-size: 20px;
    color: rgb(0, 255, 174);
}

.bounties__bountydao {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.45);
}

.bounties__bountyamount {
    color: rgb(198, 106, 255);
}

.bounties__managebtn {
    font-size: 16px;
    width: 200px;
    height: 40px;
    background-color: rgb(0, 255, 174);
    border-radius: 81px;
    border: 3px solid rgb(0, 255, 174);
    cursor: pointer;
    font-family: Ubuntu;
    font-weight: 600;
}

.bounties__managebtn:hover {
    background-color: transparent;
    color: rgb(0, 255, 174);
}

.bounty__winner {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.bountywinner__pubkey {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.404);
}

.arrowback {
    height: 35px;
    width: 35px;
    background-color: rgb(32, 32, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.managedbounty__cont {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.managedbounty__deets {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: "Open Sans";
    font-weight: 800;
    color: rgb(0, 255, 174);
}

.managebounty__desc {
    margin-right: 10px;
    width: 600px;
}

.managedbounty__amount {
    margin-left: 10px;
}

.managedbounty__daoname {
    margin-top: 10px;
    font-size: 20px;
}

.bountyapplicationsx {
    margin-top: 30px;
}

.applicationsx__head {
    font-family: "Open Sans";
    color: rgb(0, 255, 174);
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bountyapplications__cont {
    margin-top: 10px;
}

.managedapplication__cont {
    margin-top: 10px;
    background-color: rgb(32, 32, 42);
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.managedapplication__left {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.managedapplication__devname {
    color: rgb(198, 106, 255);
    width: 250px;
}

.managedapplication__devrep {
    margin-left: 30px;
}

.managedapplication__approve {
    font-size: 16px;
    width: 150px;
    height: 40px;
    background-color: rgb(0, 255, 174);
    border-radius: 81px;
    border: 3px solid rgb(0, 255, 174);
    cursor: pointer;
    font-family: Ubuntu;
    font-weight: 600;
}

.managedapplication__approve:hover {
    background-color: transparent;
    color: rgb(0, 255, 174);
}
