.notconnected__container {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notconnected__hero {
    background: linear-gradient(90deg, rgb(157, 0, 255) 0%, rgb(0, 255, 174) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 800;
    font-size: 70px;
    font-family: 'Open Sans';
}

.notconnected__herotext {
    margin-top: 7px;
}

.notconnected__connectbuttoncont {
    margin-top: 80px;
    font-size: 20px !important;
}

.notconnected__connectbutton {
    background-color: rgb(0, 255, 174) !important;
    color: black !important;
    border: 1px solid transparent;
    height: 56px !important;
    width: 250px !important;
    border-radius: 40px !important;
    border: 3px solid rgb(0, 255, 174) !important;
    font-size: 20px !important;
    justify-content: center;
}

.notconnected__connectbutton:hover {
    color: rgb(0, 255, 174) !important;
    background-color: transparent !important;
    border: 1px solid rgb(0, 255, 174);
    border-radius: 40px;
}