.devbountydash__cont {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 980px;
    padding: 70px 0px;
}

.devbountydash__head {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 40px;
    color: rgb(0, 255, 174);
}

.availablebounties__head {
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 800;
    color: rgb(0, 255, 174);
}

.devbountydash__bounties {
    background-color: rgb(55, 55, 83);
    padding: 30px 50px;
    border-radius: 14px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bountydash__devbounty {
    margin-top: 10px;
    background-color: rgb(32, 32, 42);
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.devbountydash__leftmost {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.devbountycont__left {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.devbountyleft__desc {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 255, 174);
}

.devbountyleft__names {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.devbountynames__project {
    margin-right: 8px;
    color: rgb(198, 106, 255);
}

.devbountynames__dao {
    margin-left: 8px;
    color: rgb(198, 106, 255);
}

.devbountyleft__amount {
    margin-left: 50px;
    font-size: 20px;
}

.devbountyright__status {
    font-size: 20px;
}

.status__noupdate {
    color: rgb(255, 204, 0);
}

.devapproved__cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status__approved {
    color: rgb(0, 128, 255);
}

.devapproved__button {
    margin-left: 20px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(0, 255, 174);
    border-radius: 81px;
    border: 3px solid rgb(0, 255, 174);
    cursor: pointer;
    font-family: Ubuntu;
    font-weight: 600;
}

.devapproved__button:hover {
    background-color: transparent;
    color: rgb(0, 255, 174);
}

.status__accepted {
    color: rgb(0, 255, 0);
}

.devbountyright__applybtn {
    font-size: 16px;
    width: 150px;
    height: 40px;
    background-color: rgb(0, 255, 174);
    border-radius: 81px;
    border: 3px solid rgb(0, 255, 174);
    cursor: pointer;
    font-family: Ubuntu;
    font-weight: 600;
}

.devbountyright__applybtn:hover {
    background-color: transparent;
    color: rgb(0, 255, 174);
}
