.navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    padding: 20px 0px;
}

.navbar__logo {
    font-size: 24px;
    color: rgb(0, 255, 174);
    font-family: 'Open Sans';
    letter-spacing: 0.05em;
}

.navbar__right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__links {
    margin-right: 40px;
}

.navbar__link {
    margin-right: 30px;
    font-size: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.701);
}

.navbar__link:hover {
    color: rgba(255, 255, 255);
}

.navbar__connectbutton {
    background-color: rgb(0, 255, 174) !important;
    color: black !important;
    border: 2px solid transparent;
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px !important;
}

.navbar__connectbutton:hover {
    color: rgb(0, 255, 174) !important;
    background-color: transparent !important;
    border: 2px solid rgb(0, 255, 174);
}